.top {
  display: flex;
  padding: 10px;
}

.configurations {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  padding: 10px;
  margin: 10px 0;
  height: 100%;
}

.full-box{
  margin: 5px 0;
}

.row{
  display: flex;
  margin: 15px 10px;
  width: 100%;
}

.col-half{
  width: 50%;
  font-size: 18px;
}

.form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.stick{
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.budget-input{
  width: 200px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 5px 0 10px;
}

.budget-input-small-first{
  width: 90px;
  padding: 5px 25px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}

.budget-input-small-second{
  width: 110px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 5px;
}

.budget-input-vsmall-first{
  width: 70px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}

.budget-input-vsmall-second{
  width: 75px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

.budget-input-vsmall-third{
  width: 75px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 5px;
}

.budget-input-vvsmall-first{
  width: 90px;
  padding: 5px 25px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}

.budget-input-vvsmall-second{
  width: 110px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 5px;
}

.notifications-label{
  margin-right: 10px;
}

.shape{
  transform: scale(1.25);
  margin: 0 5px;
}

.label{
  font-size: 16px;
  margin-right: 5px;
}

.setButton{
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
}

.setButton:hover{
  cursor: pointer;
  background-color: darkgreen;
}

/* Media */

/* Responsive adjustments */

@media (max-width: 576px) {
  .top h1{
    font-size: 24px;
  }
  .configurations{
    margin: 0;
  }
  .full-box{
    margin: 0;
  }
  .full-box h3{
    font-size: 18px;
  }
  .row{
    flex-direction: column;
    margin: 10px;
  }
  .col-half{
    width: auto;
    margin: 5px 0;
  }
  .form label{
    font-size: 16px;
  }

  .setButton{
    font-size: 14px;
  }

  .budget-input{
    font-size: 14px;
    width: 175px;
  }
  .budget-input-small-first{
    font-size: 14px;
    width: 65px;
    padding: 5px 15px;
  }
  .budget-input-small-second{
    font-size: 14px;
    width: 105px;
  }
  .budget-input-vsmall-first{
    font-size: 14px;
    width: 65px;
    padding: 5px 15px;
  }
  .budget-input-vsmall-second{
    font-size: 14px;
    width: 65px;
    padding: 5px 0px 5px 10px;
  }
  .budget-input-vsmall-third{
    font-size: 14px;
    width: 70px;
  }
  .budget-input-vvsmall-first{
    font-size: 14px;
    width: 65px;
    padding: 5px 15px;
  }
  .budget-input-vvsmall-second{
    font-size: 14px;
    width: 105px;
  }
  .shape{
    transform: scale(1);
    margin: 0 5px;
  }
  
  .label{
    font-size: 14px;
    margin-right: 5px;
  }  

}