/* Button to open/close the chat */
#toggleChatButton {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.chat-header{
  border-bottom: #666;
}

.chat-header span{
  font-size: 12px;
}

/* Chat box modal */
.chat-modal {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Chat messages display area */
.chat-messages {
  max-height: 250px;
  overflow-y: auto;
}

/* Input field for typing messages */
.chat-input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Button to send messages */
.send-button {
  width: 100%;
  padding: 8px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Message container style */
.message-container {
  font-size: 14px;
  width: fit-content;
  min-width: 30%;
  background-color: rgb(170, 220, 255); /* Light blue color */
  border-radius: 10px;
  margin: 5px 0; /* Top and bottom margin of 5px */
  padding: 7.5px 10px; /* Adjust padding as needed */
}

/* Timestamp style */
.timestamp {
  font-size: 10px; /* Lower font size for the timestamp */
  margin-top: 5px; /* Add spacing between message and timestamp */
  color: #666; /* Adjust timestamp text color */
}