.top {
  display: flex;
  padding: 10px;
}

.buttons {
  margin-left: auto;
}

.buttons button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px black;
}

.filter {
  background-color: rgb(0, 0, 0, 0.2);
  margin: 20px 10px;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: end;
}

.filter button {
  background: none;
  border: none;
  cursor: pointer;
}

.field-area {
  display: flex;
  text-align: start;
}

.filter-field {
  width: 33%;
}

input,
select,
option{
  width: 95%;
  height: 40px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 14px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.modal-form input, .modal-form select, .modal-form option{
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}
.modal-form textarea {
  width: 100%;
  height: 60px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.form-buttons{
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.form-buttons button{
  margin: 0px 10px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.form-buttons button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px black;
}

.char-count{
  text-align: end;
  font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 0 auto;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

/* Style to prevent textarea resizing */
textarea {
  resize: none;
}

.table{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  overflow-y: scroll;
}

thead{
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
}

tbody{
  padding-top: 10px;
  overflow-y: scroll;
}

th{
  padding: 15px 0px;
}

th:hover{
  cursor: pointer;
}

td{
  font-size: 16px;
  padding: 10px 0px;
}

tr {
  text-align: center;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

/* .table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
} */

.holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contain-1{
  width: 30px;
  background-color: #aaaaaa;
  border-radius: 5px;
  padding: 0 2px;
  height: 25px;
  margin: 2.5px;
}

.contain-2{
  width: 30px;
  background-color: #d5d5d5;
  border-radius: 5px;
  padding: 0 2px;
  height: 25px;
  margin: 2.5px;
}

.image-status{
  height: 20px;
  margin: 2.5px;
}

.edit{
  padding: 5px 5px;
  font-size: 12px;
  background-color: #4789B7;
  color: white;
  border: none;
  margin: 2.5px;
  border-radius: 5px;
}

.delete{
  padding: 5px 5px;
  font-size: 12px;
  background-color: red;
  color: white;
  border: none;
  margin: 2.5px;
  border-radius: 5px;
}

input[type="file"]{
  padding: 5px 10px;
}
input[type="file"]::-webkit-file-upload-button {
  outline: none;
  /* border: none;
  background: none; */
  font-size: 16px;
  padding: 3px 5px;
}

/* Media */

/* Responsive adjustments */

@media (max-width: 576px) {
  .top h1{
    font-size: 24px;
  }
  .buttons button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 16px;
  }
  .filter{
    padding: 15px;
    margin: 15px 10px;
  }
  .field-area{
    flex-direction: column;
  }
  .filter-field{
    width:100%;
  }
  .filter-field label{
    font-size: 12px;
  }
  .filter-field select,
  .filter-field select option,
  .filter-field input{
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    padding: 5px;
    font-size: 12px;
  }
  .filter form button{
    font-size: 12px;
  }


  .table{ 
    padding: 0 10px;
  }
  th{
    font-size: 12px;
  }
  td{
    font-size: 12px;
    padding: 10px 0px;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
  }
  tr th:nth-child(1), tr td:nth-child(1){
    /* background-color: bisque; */
    width: 35% !important;
  }
  tr th:nth-child(2), tr td:nth-child(2){
    /* background-color: aqua; */
    width: 15% !important;
  }
  tr th:nth-child(3), tr td:nth-child(3){
    /* background-color: coral; */
    width: 15% !important;
  }
  tr th:nth-child(4), tr td:nth-child(4){
    /* background-color: deeppink; */
    width: 35% !important;
  }
  tr th:nth-child(5), tr td:nth-child(5){
    width: auto !important;
  }
  .holder{
    padding: 0;
  }
  .edit, .delete{
    font-size: 8px;
    margin-right: 0;
    width: 22.5px;
  }
  .image-status{
    height: 14px;
  }
  .contain-1, .contain-2{
    width: 22.5px;
    height: 19px;
    padding: 0;
    margin-right: 0;
  }
}

/* @media (min-width: 576px) and (max-width: 768px) {
  
} */